:root {
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    --swatch-foundation:    #1a1a19ea; /* USED FOR BODY BACKGROUND */
    --swatch-primary:       rgb(90, 90, 87); /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
    --swatch-complement:    rgb(255, 255, 255); /* USED IN FORGROUND OF PRIMARY FOR TEXT AND BORDERS */
    --swatch_contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
    --swatch-accent:        #669966; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */    
    --my-font-family:          "Robaaaoto";
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  }
  
  body { background: var(--swatch-foundation) !important; }

  .container-sm{
    background-color: var(--swatch-primary);
    color: var(--swatch-complement);
    margin: 14px;
    border-radius: 10px;
    min-height:17cm;
    height:auto !important;    
  }

  .container-fluid{
    background-color: var(--swatch-primary);
    color: var(--swatch-complement);
    margin: 14px;
    border-radius: 10px;
    min-height:17cm;
    height:auto !important;    
  }

  .card{
    border-radius: 100px;
    color: black
  }

  #document-area{
    background-color: rgba(241, 45, 45, 0.842);
  }

  #wireframer{
    background-color: rgba(237, 241, 217, 0.89);
  }
  

  #intial{
    
      height:20px;
      width: 20px;
      background-color: red;
      border-radius: 50%;
      text-align: center;
  }

.component_container{
  height: 50px;
  width: 70px;
  border-style: solid;
  border-color: black;
  background-color: #ffffff;
  /* color: white */
}
.component_label{
  height: 30px;
  width: 150px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}
.component_button{
  height: 30px;
  text-align: center;
  width: 80px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: #afafaf;
}
.component_textfield{
  height: 30px;
  width: 100px;
  border-style: solid;
  border-color: black;
  color: #afafaf;
  background-color: #ffffff;
  border-radius: 5px;
}

.component_description{
  margin-left: 5px;
}


.dummy{
    position: absolute;
    height: 300px;
    width: 300px;
    text: null;
    background-color: #dfafaf;
    font-size: 10px;
    border: solid;
    border-color: #4CAF50;
    border-width: 1px;
    border-radius: 0px;
    top: 60px;
    left: 10px;
    resize:both;
    overflow:hidden;
    /* ele.resizable({
      handles: 'n, e, s, w'
   });  */
    /* max-height: fit-content;
    max-width: fit-content; */
    
}



.number_input{
  height:0.7cm;
  width: 1.1cm;
  font-size: 13px;
  border-radius: 10px;
}


#dimension_button:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}

.disabled {
  opacity: 0.1;
  cursor: not-allowed;
}


.dot_top_left{
  visibility: visible;
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: yellowgreen;
  border-radius: 10px;
  top: -5px;
  left: -5px;
}
.dot_top_left.hidenn{
  visibility: visible;
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: yellowgreen;
  border-radius: 10px;
  top: -5px;
  left: -5px;
}



.dot_top_right{
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: yellowgreen;
  border-radius: 10px;
  top: -5px;
  right: -5px;
}
.dot_bottom_left{
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: yellowgreen;
  border-radius: 10px;
  bottom: -5px;
  left: -5px;
}
.dot_bottom_right{
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: yellowgreen;
  border-radius: 10px;
  bottom: -5px;
  right: -5px;
}


/* 

function(e) {
  e.preventDefault();
  original_width = parseFloat(getComputedStyle(element, null).getPropertyValue('width').replace('px', ''));
  original_height = parseFloat(getComputedStyle(element, null).getPropertyValue('height').replace('px', ''));
  original_x = element.getBoundingClientRect().left;
  original_y = element.getBoundingClientRect().top;
  original_mouse_x = e.pageX;
  original_mouse_y = e.pageY;
  window.addEventListener('mousemove', resize);
  window.addEventListener('mouseup', stopResize);
}
 */




/* function makeResizableDiv(div) {
  const element = document.querySelector(div);
  const resizers = document.querySelectorAll(div + ' .resizer')
  for (let i = 0;i < resizers.length; i++) {
    const currentResizer = resizers[i];
    currentResizer.addEventListener('mousedown', function(e) {
      e.preventDefault()
      window.addEventListener('mousemove', resize)
      window.addEventListener('mouseup', stopResize)
    })
    
    function resize(e) {
      if (currentResizer.classList.contains('bottom-right')) {
        element.style.width = e.pageX - element.getBoundingClientRect().left + 'px'
      }
    }
    
    function stopResize() {
      window.removeEventListener('mousemove', resize)
    }
  }
}

makeResizableDiv('.resizable') */